/* Reset some default styles */
.root{
  height:100vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background-image: url('bg3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-attachment: fixed; 
}

/* Container styles */
.container {
  max-width: 500px;
  margin: 0 auto;
}

/* Form styles */
form {
  background-color: #fff;
  
  padding: 20px;
  margin:auto;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

form input {
  min-width: 97%;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  display: inline-block;
}

form button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #0056b3;
  color: #fff;
}

form button:hover {
  background-color: #031221;
}

/* Messages container styles */
.messages {
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  background-color: #fff;
}

.messages p {
  margin: 0 0 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #007BFF;
  color: #fff;
  display: inline-block;
}

.message-username {
  color: darkgray;
  font-size:larger;
}

.message-text {
  font-weight: bold;
  color: white;
  padding-left: 5px;
  font-size: large;
}

.message-time {
  font-size: smaller;
  padding-left: 10px;
  color: darkgray;
}

.msgs {
  background-color: #00000094;
  color: white;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  align-items:center;
}

a {
  text-decoration: none;
  color: whitesmoke;
  margin: auto;
  text-align: center;
}

button {
  background-color: #0056b3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.navbar {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 padding-left: 15%;
 padding-right: 15%;
 padding-top: 10px;
}

.user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px;
}

.user-info div h2{
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.day h3{
  text-align: center;
}

.caption{
  text-align: center;
}

.box{
  max-width: 50%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

.signin{
  align-items: center;
  justify-content: center;
}

.signin button{
  width: 50%;
}
.signin button:hover {
  background-color: #3793ef;
}

.msgs form {
  max-width: 50%;
  border-radius: 5px;
}

@media (max-width: 480px) {
  /* Adjust styles for screens up to 480px wide (typical mobile devices) */
  body {
    background-attachment: scroll; /* Remove fixed background attachment on small screens */
  }

  form input {
    max-width: 99%; /* Expand input fields to full width */
  }

  .message-time{
    font-size: x-small;
    color: white;
  }

  .message-text{
    font-size: large;
    color: aqua;  }

  .message-username{
    font-size: medium;
    color: white;
    display:bolck;
  }
  .caption{
    font-size:large;}
}
